
body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color:#1F2833;
    color: #000000;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../Backgrounds/bgvid17.mp4');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: fit-content;
    /*TODO:if the video should be larger than the screen,
       set the width to 100% and the height to auto*/
    height: 100%;
    z-index: -1;
    object-fit: fill;
    rotate: 180deg;
}