.box_intro {
    background: #1F2833;
    color: #C5C6C7;
    border-radius: 30px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 300px;
    left: 250px;
    right: 250px;
    padding: 20px;
     margin: 20px;
    flex-wrap: wrap;

}
.box-container {
    display: flex;
    justify-content: center;
       align-items: center;
    flex-wrap: wrap;
    position: relative;
    top :100px;
    left:auto;
    right:auto;

}

.box_webdesign, .box_webdev, .box_techsupport {
    /* Remove position, top, and left properties */
    border: 1px solid #000; /* Adjust border color as needed */
    padding: 20px;
    margin: 20px;
    background: #1F2833;
    color: #C5C6C7;
    border-radius: 60px;
    box-shadow: 0 0 10px #000; /* Adjust shadow color as needed */
    display: table-cell;
    position: relative;
    flex-direction: column;
    text-align: center;

}

.box_webdesign:hover {
    background: #C5C6C7;
    color: #1F2833;
    transition: 0.5s;
}
.box_webdev:hover {
    background: #C5C6C7;
    color: #1F2833;
    transition: 0.5s;
}
.box_techsupport:hover {
    background: #C5C6C7;
    color: #1F2833;
    transition: 0.5s;
}
