header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#C5C6C7
}

.renovate-text {
    font-family: 'Dancing Script', cursive;
}

h2{
    color: gainsboro;
    style: italic;
    font-family: Montserrat, sans-serif;
    font-size: 100px;
    text-align: center;
}
